table {
  width: 100%;
  border-collapse: collapse; 
}

td, th {
  padding: 10px;
  border: 1px solid black; 
  text-align: center; 
}

th {
  background-color: #f2f2f2; 
  font-size: 16px; 
}

td:first-child {
  font-weight: bold; 
  background-color: #ddd; 
}

img {
  max-width: 100px; 
  height: auto;
}

.company-name {
  font-weight: bold; 
}
